{% extends 'music/base_escola.html'%}

{% block content%}
<div id="carouselSite" class="carousel slide" data-ride="carousel">
	
	<ol class="carousel-indicators">
		<li data-target="#carouselSite" data-slide-to="0" class="active"></li>
		<li data-target="#carouselSite" data-slide-to="1" class="active"></li>
		<li data-target="#carouselSite" data-slide-to="2" class="active"></li>
		<li data-target="#carouselSite" data-slide-to="3" class="active"></li>
		<li data-target="#carouselSite" data-slide-to="4" class="active"></li>
		<li data-target="#carouselSite" data-slide-to="5" class="active"></li>
	</ol>
	
	<div class="carousel-inner">
		
		<div class="carousel-item active">
			<img src="static/img/piano.jpg" class="img-fluid d-block">
			<div class="carousel-caption d-none d-md-block">
				<h1 class="display-1">Faça uma aula grátis</h1>
				<h1>Aula de piano com professores especializados.</h1>
			</div>
		</div>
		<div class="carousel-item">
			<img src="static/img/guitarra.jpg" class="img-fluid d-block">
			<div class="carousel-caption d-none d-md-block">
				<h1 class="display-1">Faça uma aula grátis</h1>
				<h1>Aula de guitarra com professores especializados.</h1>
			</div>
		</div>
		<div class="carousel-item">
			<img src="static/img/bateria.jpg" class="img-fluid d-block">
			<div class="carousel-caption d-none d-md-block">
				<h1 class="display-1">Faça uma aula grátis</h1>
				<h1>Aula de bateria com professores especializados.</h1>
			</div>
		</div>
		<div class="carousel-item">
			<img src="static/img/cordas.jpg" class="img-fluid d-block">
			<div class="carousel-caption d-none d-md-block">
				<h1 class="display-1">Faça uma aula grátis</h1>
				<h1>Aula de instrumentos de cordas com professores especializados.</h1>
			</div>
		</div>
		<div class="carousel-item">
			<img src="static/img/metais.jpg" class="img-fluid d-block">
			<div class="carousel-caption d-none d-md-block">
				<h1 class="display-1">Faça uma aula grátis</h1>
				<h1>Aula de instrumentos de metais e madeira com professores especializados.</h1>p>
			</div>
		</div>
		<div class="carousel-item">
			<img src="static/img/partitura.jpg" class="img-fluid d-block">
			<div class="carousel-caption d-none d-md-block">
				<h1 class="display-1">Faça uma aula grátis</h1>
				<h1>Aula de teoria musical com professores especializados.</h1>
			</div>
		</div>


	</div>
	
	<a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
		<span class="sr-only">Anterior</span>
	</a>
	
	<a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
		<span class="carousel-control-next-icon"></span>
		<span class="sr-only">Avançar</span>
	</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 text-center my-5">
			<h1 class="display-3">Escola de Música</h1>
			<p>Criada em 2010, a escola de música conta com infraestrutura e professores de qualidade.</p>
		</div>
	
	</div>
	
	<div class="row mb-5">
		<div class="col-sm-6 col-md-4 mb-3">
			<nav id="navbarVertical" class="navbar navbar-light bg-light">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link" href="#item1">Infraestrutura</a>
						<!--<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#item1-1">Subtitulo1-1</a>
							<a class="nav-link ml-3" href="#item1-2">Subtitulo1-2</a>
						</nav>-->
					<a class="nav-link my-2" href="#item2">Professores</a>
					<a class="nav-link my-2" href="#item3">Material</a>
						<!--<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#item3-1">Subtitulo3-1</a>
							<a class="nav-link ml-3" href="#item3-2">Subtitulo3-2</a>
						</nav>-->
				</nav>
			</nav>
		</div>
		<div class="col-sm-6 col-md-8">
			<div data-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite">
				<h4 id="item1">Infraestrutura</h4>
				<p>Na Escola de música você terá aulas individuais com instrumentos de qualidade. Todas as salas possuem intrumentos, não sendo necessário 
				trazer nada além do caderno de partitura/cifra.</p>
				
				<!--<h5 id="item1-1">Subtitulo1-1</h5>
				<p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
				t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
				
				<h5 id="item1-2">Subtitulo1-2</h5>
				<p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
				t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>-->
				
				<h4 id="item2">Professores</h4>
				<p>Todos os professores da escola de música possuem formação acadêmica e/ou experiência em práticas artísticas, tais como: banda, orquestra, regência,
				coral, canto, entre outros.</p>
				
				<h4 id="item3">Material</h4>
				<p>O material da Escola de música é elaborado de acordo com a necessidade do aluno, sendo realizada entrevista por parte do professor para definir metas
				a serem alcançadas pelo aluno.</p>
				
				<!--<h5 id="item3-1">Subtitulo3-1</h5>
				<p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letterst 
				is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
				
				<h5 id="item3-2">Subtitulo3--2</h5>
				<p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
				t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>-->
			</div>
		</div>
	</div>
	
	<div class="row mb-5">
	
		<div class="col-sm-4 mb-5">
			<div class="card">
			<img class="card-img-top" src="static/img/piano1.jpg">
				<div class="card-body">
				<h4 class="card-title text-center">Piano</h4>
				<h6 class="card-subtitle mb-2 text-muted text-center">Você aprenderá:</h6>
				<ul>
					<li>Escalas</li>
					<li>Arpejos</li>
					<li>Métodos</li>
					<li>Pratica de banda e/ou conjuntos</li>
					<li>Teoria musical</li>
				</ul>
				<!--<p class="card-text ml-4">m is that it has a more-or-less normal distribution of letters</p>
				<a href="#" class="card-link ml-5">Acessar</a>-->
				<a href="{% url 'cursos_piano' %}" class="card-link text-center">Saiba mais!</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4 mb-5">
			<div class="card">
			<img class="card-img-top" src="static/img/teclado.jpg">
				<div class="card-body">
				<h4 class="card-title text-center">Teclado</h4>
				<h6 class="card-subtitle mb-2 text-muted text-center">Você aprenderá:</h6>
				<ul>
					<li>Escalas</li>
					<li>Arpejos</li>
					<li>Métodos</li>
					<li>Pratica de banda e/ou conjuntos</li>
					<li>Teoria musical</li>
				</ul>
				<!--<p class="card-text">m is that it has a more-or-less normal distribution of letters</p>
				<a href="#" class="card-link">Acessar</a>-->
				<a href="{% url 'cursos_teclado' %}" class="card-link text-center">Saiba mais!</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4 mb-5">
			<div class="card">
				<img class="card-img-top" src="static/img/guitarra1.jpg">
				<div class="card-body">
				<h4 class="card-title text-center">Guitarra</h4>
				<h6 class="card-subtitle mb-2 text-muted text-center">Você aprenderá:</h6>
				<ul>
					<li>Escalas</li>
					<li>Arpejos</li>
					<li>Métodos</li>
					<li>Pratica de banda e/ou conjuntos</li>
					<li>Teoria musical</li>
				</ul>
				<!--<p class="card-text">m is that it has a more-or-less normal distribution of letters</p>
				<a href="#" class="card-link">Acessar</a>-->
				<a href="{% url 'cursos_guitarra' %}" class="card-link text-center">Saiba mais!</a>
				</div>
			</div>
		</div>
		 
		<div class="col-sm-4 mb-5">
			<div class="card">
			<img class="card-img-top" src="static/img/baixo.jpg">
				<div class="card-body">
				<h4 class="card-title text-center">Baixo</h4>
				<h6 class="card-subtitle mb-2 text-muted text-center">Você aprenderá:</h6>
				<ul>
					<li>Escalas</li>
					<li>Arpejos</li>
					<li>Métodos</li>
					<li>Pratica de banda e/ou conjuntos</li>
					<li>Teoria musical</li>
				</ul>
				<!--<p class="card-text ml-4">m is that it has a more-or-less normal distribution of letters</p>
				<a href="#" class="card-link ml-5">Acessar</a>-->
				<a href="{% url 'cursos_baixo' %}" class="card-link">Saiba mais!</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4 mb-5">
			<div class="card">
				<img class="card-img-top" src="static/img/bateria1.jpg">
				<div class="card-body">
				<h4 class="card-title text-center">Bateria</h4>
				<h6 class="card-subtitle mb-2 text-muted text-center">Você aprenderá:</h6>
				<ul>
					<li>Técnicas</li>
					<li>Métodos</li>
					<li>Pratica de conjunto</li>
					<li>Teoria musical</li>
				</ul>
				<!--<p class="card-text">m is that it has a more-or-less normal distribution of letters</p>
				<a href="#" class="card-link">Acessar</a>-->
				<a href="{% url 'cursos_bateria' %}" class="card-link text-center">Saiba mais!</a>
				</div>
			</div>
		</div> 
		
		<div class="col-sm-4 mb-5">
			<div class="card">
				<img class="card-img-top" src="static/img/trompa.jpg">
				<div class="card-body">
				<h4 class="card-title text-center">Metais</h4>
				<h6 class="card-subtitle mb-2 text-muted text-center">Você aprenderá:</h6>
				<ul>
					<li>Escalas</li>
					<li>Arpejos</li>
					<li>Métodos</li>
					<li>Pratica de banda e/ou conjuntos</li>
					<li>Teoria musical</li>
				</ul>
				<!--<p class="card-text">m is that it has a more-or-less normal distribution of letters</p>
				<a href="#" class="card-link">Acessar</a>-->
				<a href="{% url 'cursos_metais' %}" class="card-link text-center">Saiba mais!</a>
				</div>
			</div>
		</div> 
	</div>
		
</div>

{% endblock%}

