{% extends 'blog/base.html' %}

{% block content %}
	
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'post_new'%}">Publicar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'post_draft_list' %}">Rascunhos</a>
				</li>
		</div>
	</nav>
	
	
		<div class="container">
			<div class="row">
				<div class="col-12">
					<br>
					<h1 class="display-3 text-center">Publicações</h1>
					<hr>
						{% for post in posts %}
							<div class="post">
								<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
								<p>{{ post.text|linebreaksbr }}</p>
								<div class="date">
									{{ post.published_date }}
								</div>		
								<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
							</div>
							<hr>
						{% endfor %}
				</div>
			</div>
		</div>
	
	
{% endblock content %}