.scrollspySite {
	position: relative;
	overflow: auto;
	height: 380px;
}

#contact-area {
	text-align: center;
}

.contact-box {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #3EC1D5;
}